<section id="sidebar">
  <nav>
    <% if current_page?(funding_company_path) %>
      <li><%= link_to "Funding", funding_company_path, class: "sidebar-link active" %>&emsp;
      <span class="text-primary"><i class="fa fa-check"></i></span>
      </li>
    <% else %>
    <li class="sidebar-item">
      <%= link_to "Funding", funding_company_path, class: "sidebar-link" %>&emsp;
      <span class="text-primary"><i class="fa fa-check"></i></span>
    </li>
    <% end %>
    
    <% if current_page?(info_company_path) %>
      <li><%= link_to "Company Info", info_company_path, class: "sidebar-link active" %>
        <% if !@company.name.blank? && !@company.tax_id.blank? && !@company.entity_type.blank? && !@company.annual_revenue.blank? %>&emsp;
          <span class="text-primary"><i class="fa fa-check"></i></span>
        <% end %>
      </li>
    <% else %>
        <li><%= link_to "Company Info", info_company_path, class: "sidebar-link" %>
        <% if !@company.name.blank? && !@company.tax_id.blank? && !@company.entity_type.blank? && !@company.annual_revenue.blank? %>&emsp;
          <span class="text-primary"><i class="fa fa-check"></i></span>
        <% end %>
    <% end %>
    
    <% if current_page?(contact_company_path) %>
      <li><%= link_to "Contact Info", contact_company_path, class: "sidebar-link active" %>
        <% if !@company.address.blank? && !@company.city.blank? && !@company.state.blank? && !@company.zip.blank? && !@company.phone.blank? %>&emsp;
          <span class="text-primary"><i class="fa fa-check"></i></span>
        <% end %>
      </li>
    <% else %>
        <li><%= link_to "Contact Info", contact_company_path, class: "sidebar-link" %>
        <% if !@company.address.blank? && !@company.city.blank? && !@company.state.blank? && !@company.zip.blank? && !@company.phone.blank? %>&emsp;
          <span class="text-primary"><i class="fa fa-check"></i></span>
        <% end %>
    <% end %>
  </nav> 
  
  <hr>
  
  <% is_ready = !@company.active && !@company.amount.blank? && !@company.financing_time.blank? && !@company.tax_id.blank? && !@company.entity_type.blank? && !@company.annual_revenue.blank? && !@company.address.blank? && !@company.city.blank? && !@company.state.blank? && !@company.zip.blank? && !@company.phone.blank? %>

  <%= form_for @company do |f| %>
    <%= f.hidden_field :active, value: true %>
    <%= f.submit "Submit", id: "publish_button", class: "btn btn-save btn-block", disabled: !is_ready %>
  <% end %> 
</section>
 
<br>
  
