<% if current_user == @company.user %>
  <div class="container content">
    <div class="row">
      <div class="col-md-3">
        <%= render 'company_menu' %>
      </div>
      <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">Contact Info</div>
          <div class="panel-body">
            <div class="container">
              <%= form_for @company do |f| %>

                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Company Address</label>
                      <%= f.text_field :address, placeholder: "123 Ocean Pkwy", class: "form-control", required: true %>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Apt or Suite</label>
                      <%= f.text_field :suite, placeholder: "3", class: "form-control" %>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>City</label>
                      <%= f.text_field :city, placeholder: "Santa Monica", class: "form-control", required: true %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>State</label>
                      <%= f.text_field :state, placeholder: "California", class: "form-control", required: true %>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Zip Code</label>
                      <%= f.text_field :zip, placeholder: "90403", class: "form-control", required: true %>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Phone Number</label>
                      <%= f.text_field :phone, placeholder: "4245555555", class: "form-control", required: true %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label>Website</label>
                      <%= f.text_field :website, placeholder: "www.awesome.co", class: "form-control" %>
                    </div>
                  </div>  
                </div>

                <%= f.submit "Save", class: "btn btn-primary" %>

              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="container content">
    <h3 class="text-center">You don't have permission to view this.</h3>
  </div>
<% end %>
