<div class="container content">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @company.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @company.phone %>
  </p>

  <p>
    <strong>Trade name:</strong>
    <%= @company.trade_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @company.address %>
  </p>

  <p>
    <strong>Suite:</strong>
    <%= @company.suite %>
  </p>

  <p>
    <strong>City:</strong>
    <%= @company.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= @company.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= @company.zip %>
  </p>

  <p>
    <strong>Tax:</strong>
    <%= @company.tax_id %>
  </p>

  <p>
    <strong>Entity type:</strong>
    <%= @company.entity_type %>
  </p>

  <p>
    <strong>Annual revenue:</strong>
    <%= @company.annual_revenue %>
  </p>

  <p>
    <strong>Financing time:</strong>
    <%= @company.financing_time %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= @company.amount %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= @company.website %>
  </p>

  <p>
    <strong>User:</strong>
    <%= @company.user.name %>
  </p>

  <%= link_to 'Back', companies_path %>  
</div>

